body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer{
    background-color: #006AA2;
    padding: 20px;
    text-align: center;
    position:relative ;
    bottom: 0;
    width: 100%;
    margin-top: auto;   

}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #006AA2;
    padding: 10px;
    color: white;
    margin:0; 
    border:0;
    
    
}

.left-links {
    display: flex;
}

.left-links a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.left-links a:hover {
    background-color: #0088D1;
    border-radius: 10px;
}

.right-links {
    display:flex;
    align-self:center;
    margin-left:auto;
}

.right-links a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.right-links a:hover {
    background-color: #0071ae;
    border-radius: 16px;
}

.headbar {
    display: flex;
    background-color: #003957;
}

.searchbar {
    padding-left: 20px;
    align-self: center;
    width: max-content;
}
.row{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    height: 370px;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap:wrap;
}
.column-1{
    height: 400px;
    width: 300px;
    display:flex;
    justify-content: center;
    border:5px solid black;
    border-radius:20px;
    margin-top:30px
    
}
.book_img{
   display:flex;
    justify-content: center;
    flex-direction: column; 
    width:200px;
    cursor: pointer;
}
.column-1 p{
    display:flex;
    height:50px;
    text-align: center;
    justify-content: center;
}
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}
  
.form-container form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    
}
  
.form-container h2 {
    margin-top: 0;
    color: #333;
}
  
.form-container label {
    display: block;
    margin-bottom: 5px;
}
  
.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #012c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
}
  
.form-container button:hover {
    background-color: #00161c;
}
.book_page{
    display:flex;
}
.left_column{
    display:flex;
    flex-direction: column;
    margin-top:30px;
    align-items:center
}
.book_img{
    height: 400px;
    width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:5px solid black;
    border-radius:20px;
    margin-top: 0;
}
.left_column button{
    align-self:center;
    padding:15px;
    width:250px;
    margin-top:10px;
    border-radius:20px;
    font-size: 20px;
}
.book_img p{
    display:flex;
    width: 200px;
    height:50px;
    text-align: center;
    justify-content: center;
}

.summary{
    display:flex;
    margin-left:2%;
    margin-right:2%;
    font-size: 20px;
    border:5px solid black;
    border-radius:20px;
    margin-top:30px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}